# 忽略 target 目录及其所有文件
/target/

# 忽略 test_run_dir 目录及其所有文件
/test_run_dir/

# 忽略所有目录下 prompt.txt 文件
**/prompt.txt

# 忽略生成的Verilog文件
PaSoC.v
PaSoC.sv
PaSoCsim.sv

/project/project/
/project/target/
/.vscode/

# 忽略build文件夹的内容，但保留文件夹本身
build/*
!build/.gitkeep
